services:
  postgres:
    image: postgres:18-alpine3.22
    container_name: pizza_db_container
    environment:
      POSTGRES_DB: pizza_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Spring Boot Application (No OpenTelemetry)
  app:
    build:
      context: .
      dockerfile: Dockerfile.simple
    container_name: pizza_app_simple
    environment:
      SPRING_PROFILES_ACTIVE: simple
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pizza_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
